<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aekaa</title>

    <script defer src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>  <!-- Phaser -->
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script> <!-- Peer.js -->
    <script src="/socket.io/socket.io.js" defer></script> <!-- Socket.io -->

    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script defer type="text/javascript" src="./script.js"> </script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
  </head>


  <body>



  </body>


</html>
