<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aekaa</title>
    <link rel="stylesheet" href="styles.css">

    <script defer src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>  <!-- Phaser -->
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script> <!-- Peer.js -->
    <script src="/socket.io/socket.io.js" defer></script> <!-- Socket.io -->
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
  </head>


  <body>

    <div id="dashboard">
      <div id="own-video-grid" class="grid"></div>
      <canvas id="phaser-scene"></canvas>
      <div id="video-grid" class="grid"></div>
    </div>

    <script defer type="text/javascript" src="./script.js"> </script>

  </body>


</html>
