html, body {
    margin: 0;
    height: 100%;
    background: linear-gradient(#89c4ff, #f0ffff);
}

.grid {
    display: grid;
    height: 600px;
    grid-template-columns: 300px;
    grid-template-rows: repeat(auto-fill, 200px);
    margin-top: 5%;
    overflow: auto;
    background: #d8ebff;
}

#own-video-grid {
  margin-left: 2%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#example {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: yellow;
}

#phaser-scene {
    margin-top: 5%;
}

#dashboard {
    display: flex;
}
